{% for job in pagination %}

    <div class="bg-white rounded-lg shadow-sm hover:shadow-md transition-shadow p-6">
        <div class="flex flex-col md:flex-row justify-between">
            <div class="flex-1">
                <h2 class="text-xl font-semibold text-indigo-800 mb-2"><a
                            href="{{ path('app_job_show', {'id': job.id}) }}"> {{ job.title }}</a></h2>
                <div class="flex items-center gap-4 mb-4 text-gray-600">
                            <span class="flex items-center gap-1">
                                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4"></path>
                                </svg>
                                {{ job.createdBy.companyName }}
                            </span>
                    <span class="flex items-center gap-1">
                                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                </svg>
                                {{ job.location }}
                            </span>
                </div>
                <p class="text-gray-600 mb-4 line-clamp-2">
                    {{ job.description }}
                </p>
                <div class="flex flex-wrap gap-2 mb-4">
                    {% for tag in job.tags %}
                        <span class="px-2 py-1 bg-indigo-100 text-indigo-800 text-sm rounded-full"><a
                                    href="?search={{ tag }}"> {{ tag }}</a></span>
                    {% endfor %}
                </div>
            </div>
            <div class="md:w-48 flex flex-col justify-between items-start md:items-end">
                <div class="text-lg font-semibold text-green-700">{{ job.salary|format_currency('EUR') }}</div>
                <div class="text-sm text-gray-500">{{ job.createdAt|ago }}</div>


                {% if app.user.isBookmarkedJob(job) == false %}
                    <a href="{{ path('job_bookmark', {id: job.id}) }}"
                       class="text-gray-400 hover:text-red-500 text-xl transition">
                        ♡
                    </a>
                {% else %}
                    <a href="{{ path('job_unbookmark', {id: job.id}) }}"
                       class="text-red-500 hover:text-red-600 text-xl transition">
                        ♥
                    </a>
                {% endif %}

                <a href="{{ path('app_apply', {'id': job.id }) }}"
                   class="mt-4 bg-indigo-600 text-white px-4 py-2 rounded-lg hover:bg-indigo-700 transition-colors">
                    Apply Now
                </a>
            </div>
        </div>
    </div>
{% else %}
    <p>No jobs found.</p>
{% endfor %}

{{ knp_pagination_render(pagination) }}