{% extends 'base.html.twig' %}

{% block title %}Apply{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-8">
        <div class="mb-6">
            <h1 class="text-3xl font-bold text-gray-800">{{ job.title|u.truncate(8, '...') }}</h1>
            <a href="{{ path('app_job_index') }}" class="text-indigo-600 hover:text-indigo-800 text-sm mt-2 inline-block">
                ← Back to list
            </a>
        </div>
        {{ form_start(form, {'attr': {'class': 'bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'}}) }}
    <div class="grid grid-cols-1 gap-6">
        <div>
            {{ form_label(form.resume, 'Resume', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
            {{ form_widget(form.resume, {'attr': {'class': 'shadow appearance-none border rounded w-1/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            {{ form_errors(form.resume) }}
        </div>

        <div>
            {{ form_label(form.coverLetter, 'Cover Letter', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
            {{ form_widget(form.coverLetter, {'attr': {'class': 'shadow appearance-none border rounded w-1/2 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
            {{ form_errors(form.coverLetter) }}
        </div>


        <div class="flex items-center justify-between mt-6">
            {% if applied == true %}
                <button type="submit"
                        class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-not-allowed">
                    Apply Now
                </button>

                {% else %}
                    <button type="submit"
                            class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline disabled:bg-gray-50">
                        Apply Now
                    </button>
            {% endif %}

        </div>

    </div>
        {{ form_end(form) }}
    </div>
{% endblock %}